body {
  background: #eee;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  width: 500px;
  height: 500px;
  border: 1px solid grey;
  background: white;
}

#canvas-window {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px 0;
}

#buttons {
  display:flex;
}

button {
  margin:2px 5px;
}

#test-image {
  margin-top: 20px;
}
